Yukon, Nahanni, Mountain Parks Shapefile Complete.zip.cpg
Yukon, Nahanni, Mountain Parks Shapefile Complete.zip.dbf
Yukon, Nahanni, Mountain Parks Shapefile Complete.zip.prj
Yukon, Nahanni, Mountain Parks Shapefile Complete.zip.qmd
Yukon, Nahanni, Mountain Parks Shapefile Complete.zip.shp
Yukon, Nahanni, Mountain Parks Shapefile Complete.zip.shx
Yukon, Nahanni, Mountain Parks Shapefile Complete.cpg
Yukon, Nahanni, Mountain Parks Shapefile Complete.dbf
Yukon, Nahanni, Mountain Parks Shapefile Complete.prj
Yukon, Nahanni, Mountain Parks Shapefile Complete.qmd
Yukon, Nahanni, Mountain Parks Shapefile Complete.shp
Yukon, Nahanni, Mountain Parks Shapefile Complete.shx
Aspect.tiff
DEM_WGS84_final.tiff
Sky_View_Factor.tiff
Slope.tiff
Terrain_Roughness_Index.tiff
Visible_Sky.tiff
Human_Modification_of_Terrestrial_Systems_2016.tiff
April15_2000-2022_SnowCover.tiff
CA_forest_VLCE2_2019.tiff
Dist_to_Linear_Features.tiff
Distance_to_Road.tiff
May15_2000-2022_SnowCover.tiff
Road_Trains_Shapefile_WGS84.dbf
Road_Trains_Shapefile_WGS84.prj
Road_Trains_Shapefile_WGS84.shp
Road_Trains_Shapefile_WGS84.shx
